* {
  font-family: spartan;
}

.navbar {
  background: #ddd;
}

.navbar .container-xxl .collapse ul li {
  margin: 0 .2rem;
}

.navbar .container-xxl .collapse ul li a {
  color: black;
  position: relative;
}

.navbar .container-xxl .collapse ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  right: 25%;
  height: 2px;
  width: 0%;
  transition: .5s;
  background: blue;
}

.navbar .container-xxl .collapse ul li ul {
  display: inline-block;
  transform: translateY(4rem);
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  padding: 0;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.137);
}

.navbar .container-xxl .collapse ul li ul li {
  display: block;
  margin: 0.5rem !important;
}

.navbar .container-xxl .collapse ul li ul li a {
  padding-right: 0.5rem;
  font-weight: 500;
  transition: .4s;
  width: 13rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  display: block;
  border-radius: 5px;
  position: relative;
}

.navbar .container-xxl .collapse ul li ul li a::before {
  content: "";
  position: absolute;
  background: transparent;
}

.navbar .container-xxl .collapse ul li ul li a:hover {
  background: #1657e4;
  letter-spacing: .1rem;
  color: white;
}

.navbar .container-xxl .collapse ul li:hover a {
  color: blueviolet;
}

.navbar .container-xxl .collapse ul li:hover a::before {
  width: 50%;
}

.navbar .container-xxl .collapse ul li:hover ul {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}

.banner {
  padding: 4.2rem 0;
  width: 100%;
}

.dak {
  background: black;
  width: 2rem;
  height: 0.05rem;
  margin-bottom: 0.2rem;
  display: inline-block;
}

.follow {
  position: relative;
  top: 5rem;
}

.follow_icon {
  display: inline-block;
}

.follow_icon ul li {
  display: inline-block;
  margin: 0 0.8rem;
}

.follow_icon ul li i {
  transition: .4s;
}

.follow_icon ul li:hover i {
  color: red;
}

.image {
  margin-top: -8rem;
}

.image img {
  width: 122%;
  height: 713px;
  border-radius: 50%;
}

.dakk {
  width: 60px;
  height: 3px;
  background: blue;
  border-radius: 30%;
  margin: 1.5rem 0rem;
  transition: .4s;
}

.provide_service {
  background: #f7f1f4;
  padding: 2.7rem 0rem;
}

.cards_section .card {
  padding: 1.8rem;
  box-sizing: border-box;
  margin: 0 1rem;
  cursor: pointer;
  transition: .4s;
  border-radius: 1.5rem;
}

.cards_section .card .icon i {
  background: #4c5dfc;
  width: 70px;
  height: 70px;
  font-size: 1.6rem;
  color: white;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  border-bottom-left-radius: 0%;
  transition: .4s;
}

.cards_section .card:hover {
  background: #4c5dfc;
  color: #ddd;
}

.cards_section .card:hover .icon i {
  background: white;
  color: #4c5dfc;
}

.cards_section .card:hover .dakk {
  background: white;
  width: 100px;
}

.experience {
  background-image: url(./img/video-bg.jpg), linear-gradient(rgba(29, 55, 90, 0.699), rgba(29, 55, 90, 0.699));
  background-blend-mode: multiply;
  padding: 12rem 0rem;
}

.animation_icon {
  position: relative;
  z-index: 1;
  transition: .5s;
}

.animation_icon:hover {
  color: blue !important;
}

.animation_icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 5px double #ddd;
  background: rgba(255, 0, 0, 0.692);
  height: 100px;
  width: 100px;
  right: 0;
  border-radius: 50%;
  margin: auto;
  animation: playbtn 2s infinite;
  z-index: -1;
}

@keyframes playbtn {
  0% {
    transform: scale(1);
    opacity: 1;
    border: 1px double #ddd;
  }
  5% {
    transform: scale(1);
    opacity: 1;
    border: 1px double #ddd;
  }
  10% {
    transform: scale(1.2);
    opacity: 0.9;
    border: 1px double #ddd;
  }
  20% {
    transform: scale(1.3);
    opacity: 0.8;
    border: 1px double #ddd;
  }
  30% {
    transform: scale(1.4);
    opacity: 0.7;
    border: 1px double #ddd;
  }
  20% {
    transform: scale(1.5);
    opacity: 0.6;
    border: 1px double #ddd;
  }
  40% {
    transform: scale(1.6);
    opacity: 0.5;
    border: 1px double #ddd;
  }
  40% {
    transform: scale(1.65);
    opacity: 0.5;
    border: 1px double #ddd;
  }
  60% {
    transform: scale(1.7);
    opacity: 0.2;
    border: 1px double #ddd;
  }
  70% {
    transform: scale(1.755);
    opacity: 0.1;
    border: 1px double #ddd;
  }
  80% {
    transform: scale(1.8);
    opacity: .1;
    border: 1px double #ddd;
  }
  90% {
    transform: scale(1.9);
    opacity: .0;
    border: 1px double #ddd;
  }
  100% {
    transform: scale(2);
    opacity: 0;
    border: 2px double #ddd;
  }
}

.pricing_table {
  background: #f6f9fc;
  overflow: hidden;
}

.pricing_table .container .row {
  margin-top: 2rem;
}

.pricing_table .container .row .col-lg-4 .card {
  transition: .5s;
  position: relative;
}

.pricing_table .container .row .col-lg-4 .card:hover {
  background: blue;
  color: white;
}

.pricing_table .container .row .col-lg-4 .card:hover .inner_content .dak_2 {
  background: white;
}

.price_bottom {
  background-image: url(./img/free-bg.jpg), linear-gradient(#2222f3, #1d1df3);
  padding: 8rem 0rem;
  background-blend-mode: overlay;
  color: white;
  background-repeat: no-repeat;
}

.newsletter_section {
  background: #eef3fa;
}

.solution_companies .container .row .col-lg-7 .card .image1 img {
  filter: opacity(0.7);
  transition: all .4s;
}

.solution_companies .container .row .col-lg-7 .card .image1 img:hover {
  filter: opacity(2);
  background: #e9edf1;
}

.blog_section {
  background: #eef3fa;
  overflow-x: hidden;
}

.blog_section .container .row {
  margin-top: 2rem;
}

.blog_section .container .row .col-lg-4 .carad_section {
  position: relative;
  border: none;
}

.blog_section .container .row .col-lg-4 .carad_section .norton_part {
  position: absolute;
  right: 2rem;
  top: 10rem;
  box-sizing: content-box;
  height: 37px;
}

.blog_section .container .row .col-lg-4 .carad_section .norton_part img {
  width: 19%;
}

.animation_1 {
  animation: blog_1 2s infinite;
  visibility: hidden;
  opacity: 0;
  animation-fill-mode: both;
  left: -90%;
}

.animation_2 {
  animation: blog_2 2s infinite;
  visibility: hidden;
  opacity: 0;
  animation-fill-mode: both;
}

.animation_3 {
  animation: blog_3 2s infinite;
  animation-fill-mode: both;
}

@keyframes blog_1 {
  0% {
  }
  100% {
    left: 40%;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes blog_2 {
  0% {
    top: 40%;
  }
  100% {
    top: 0%;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes blog_3 {
  0% {
    right: -40%;
    visibility: hidden;
    opacity: 0;
  }
  100% {
    right: 40%;
    opacity: 1;
    visibility: visible;
  }
}

footer .container .row .col-lg-3 .card ul li a {
  transition: .4s;
}

footer .container .row .col-lg-3 .card ul li:hover a {
  color: #ddd !important;
  letter-spacing: 7px;
}
/*# sourceMappingURL=style.css.map */